:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 1rem;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #112;
  color: #fefeff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #86efac;
}

button:focus,
button:focus-visible {
  outline: 4px auto #86efac;
}

button:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}

input {
  margin: 5px 5px 25px;
}
