:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #020617;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

h1,
p {
  color: #86efac;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fafafa;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #86efac;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
